.login {
    min-height: 90vh;
}

.logged-in-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.logged-in__image {
    display: block;
    width: 15rem;
    height: auto;
    margin-top: 7rem;
}

.login-from-container {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.login-heading {
    color: var(--main-text-color);
    text-align: center;
    font-weight: 400;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.login-btn {
    width: 100%;
}

.login-btn-link {
    display: flex;
    width: fit-content;
}
