.nav {
    padding: 0.8rem 3rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 20;
}

.nav__logo {
    letter-spacing: 1px;
    font-family: "Pacifico", cursive;
    font-size: 3rem;
    font-weight: 700;
}

.nav__item {
    align-self: center;
}

.nav__item-active {
    color: var(--main-text-light-color);
}

.nav__item-active .icon-with-badge__text {
    background-color: var(--main-text-light-color);
}

.icon-with-badge {
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0.8rem;
}

.icon-with-badge__icon {
    font-size: 3.6rem;
}

@media only screen and (max-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-self: flex-end;
        justify-self: flex-end;
        padding: 0;
    }

    .nav__menu .nav__item:first-child {
        margin-left: auto;
    }
}
